$primary: rgb(39 39 42);
$dark: rgb(24 24 27);
$default: rgb(255 222 250);
$white: #fff;
$secondary1: rgb(253 239 239);
$bgColor: rgb(237 255 236);
$bgColor1: rgb(131 132 223);

// utilities
$p-half: 0.5rem;
$p-1: 1rem;
$p-2: 2rem;

// border
$border-r: solid red;
$border: 1px solid $default;
$border-r-1: 1rem;




